body {
	background-color: rgb(43, 43, 43);
	color: rgb(202, 202, 202);
	text-align: center;
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;
}
ol,
ul {
	text-align: center;
	list-style-position: inside;
}

input[type="button"],
input[type="text"],
select {
	font-size: 25px;
	margin: 3px;
}
hr {
	border: 10px solid red;
}
.bad {
	color: red;
	background-color: green;
	text-align: right;
	direction: rtl;
}
.good {
	color: rgb(255, 255, 255);
	background-color: rgb(110, 45, 116);
	text-align: center;
	direction: ltr;
	padding: 5px;
	border-radius: 15px;
}
img.big {
	width: 500px;
	height: 500px;
}
img.smoll {
	width: 100px;
	height: 100px;
	margin: 10px;
}
